.button-1{
    padding: 0.25rem 1rem;
    background-color: rgb(254, 41, 80);
    border: none;
    border: 1px solid rgb(253, 35, 75);
    border-radius: 0.25rem;
    cursor: pointer;
}

.button-2{
    padding: 0.25rem 1rem;
    background-color: #89253e;
    border: none;
    border: 1px solid #89253e;
    border-radius: 0.25rem;
    cursor: pointer;
}

.button-3{
    padding: 0.25rem 0.75rem;
    background-color: rgba(245, 245, 245, 0.15);
    backdrop-filter: blur(2px);
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.337);
}