.header{
    width: 100%;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #18576e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    padding: 0rem 1rem;
    border-bottom: 1px solid black;
}
.companyLogoAndNameHolder{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.companyLogo{
    display: grid;
    place-items: center;
}
.companyLogo img{
    width: 2.25rem;
}
.companyName{
    color: whitesmoke;
    font-size: 18px;
}
.mobileNavigationButton{
    z-index: 10;
}
.menuBtn,.closeBtn{
    display: grid;
    place-items: center;
}
.menuBtn img,.closeBtn img{
    width: 1.35rem;
}
.hideAlternateButton{
    display: none;
}

/* navigation button */
.navigationBarWrapper{
    width: 36%;
}
.navigationItemsWrapper{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.mobileViewOnly{
    display: none;
}
.navItem{
    padding: 0.2rem 1rem;
}
.homeNavItem{
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.75rem;
    padding: 0rem 0.75rem;
    cursor: pointer;
}
@media screen and (min-width:351px) and (max-width:900px) {
     .companyLogo img{
        width: 1.75rem;
    }
    .companyName{
        font-size: 1rem;
    }
    .menuBtn img,.closeBtn img{
        width: 1.25rem;
    }
    .mobileViewOnly{
        display: block;
    }
    .navigationBarWrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 10rem;
        height: 100vh;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.361);
        backdrop-filter: blur(5px);
        display: grid;
    }
    .navigationItemsWrapper{
        flex-direction: column;
        min-height: 10rem;
        max-height: 12rem;
        margin-top: 5rem;
        gap: 1rem;
        justify-content: space-evenly;
    }
    .navItem{
        display: grid;
        place-items: center;
    }
    .hiddenMenu{
        display: none;
    }
}
@media screen and (max-width:350px) {
    .companyLogo img{
        width: 1.5rem;
    }
    .companyName{
        font-size: 0.9rem;
    }
    .menuBtn img,.closeBtn img{
        width: 1.15rem;
    }
    .mobileViewOnly{
        display: block;
    }
    .navigationBarWrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 10rem;
        height: 100vh;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.361);
        backdrop-filter: blur(5px);
        display: grid;
    }
     .navigationItemsWrapper{
        flex-direction: column;
        min-height: 10rem;
        max-height: 12rem;
        margin-top: 5rem;
        gap: 1rem;
        justify-content: space-evenly;
    }
    .navItem{
        display: grid;
        place-items: center;
    }
    .hiddenMenu{
        display: none;
    }
}