.crossBtnHolder{
    padding: 0rem 0.5rem;
    display: grid;
    place-items: end;
    width: 100%;
}
.crossBtn img{
    width: 1rem;
    filter: brightness(0%) contrast(100%);
    cursor: pointer;
}
.verificationPopupWrapperContainer{
    width: 100vw;
    height: calc(100% - 3rem);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    backdrop-filter: blur(15px);
    background-color: rgba(237, 236, 236, 0.05);
}
.verificationPopupWrapper{
    width: 25rem;
    backdrop-filter: blur(5px);
    /* height: fit-content; */
    background-color: rgba(37, 37, 37, 0.232);
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.verificationPopup--header{
    text-align: center;
    padding: 1rem 0rem;
}
.verificationFormWrapper{
    width: 20rem;
    padding: 1rem 0rem;
}
.emailVerification--buttonHolder,.reGenerateOTPBtnHolder{
    display: grid;
    place-items: center;
    padding: 1rem;
    position: relative;
}
.regenerateHeaderHolder{
    text-align: center;
    font-size: 0.9rem;
}
.regenerateOTPBtn{
    display: grid;
    color: white;
    place-items: center;
    background: -webkit-linear-gradient(to right, #3a6186e6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #3a6186e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0.5rem;
    height: fit-content;
    padding: 0.2rem 0.5rem;
    border: none;
    cursor: pointer;
}
.regenerateOTPBtn:hover{
    background: -webkit-linear-gradient(to right, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.verifyOnClick{
    display: none;
}
@media screen and (min-width:401px) and (max-width:600px) {
    .verificationPopupWrapper{
        width: 23rem;
        padding: 1rem 0rem;
    }
}
@media screen and (max-width:400px) {
    .verificationPopupWrapper{
        width: 90%;
        padding: 1rem 0rem;
    }
    .verificationFormWrapper{
        width: 95%;
    }
    .verifyBtn,.regenerateOTPBtn{
        font-size: 0.8rem;
    }
    .emailOTPInput{
        max-width: max(10.5rem,50%);
    }
}