@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
html,body{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    overflow: hidden;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rowdies-bold {
font-family: "Rowdies", sans-serif;
font-weight: 700;
font-style: normal;
}


/* provided a smooth slide border animation for home page footer items */
.footer-nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}
  
.footer-nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}