<footer>
    <div class="footerMessage montserrat">
       <p> © 2025, Medisure. All rights reserved. All the content of this website are protected by copyright law. Any unauthorized use, reproduction, or distribution is strictly prohibited. This website is developed and owned by Jayant Singh. For any queries contact write at singhrajputjayant8@gmail.com. </p>
        <br><br>
        <div class="createdMessage montserrat">Crafted with <img src="/images/heart.png" alt="heart Image" class="heartIcon">in Bhopal, Madhya Pradesh </div>
    </div>
    <div class="footerNavigationItems montserrat">
        <section class="company">
            <div class="heading rowdies-light">Company</div>
            <div class="aboutMedisure footer-nav-item">About Medisure</div>
            <div class="reviews footer-nav-item">Customer Reviews</div>
            <div class="ContactUs footer-nav-item">Contact Us</div>
            <div class="termsAndConditions footer-nav-item">Terms and Conditions</div>
            <div class="privacyPolicy footer-nav-item">Privacy Policy</div>
        </section>
        <section class="socails">
            <div class="heading rowdies-light">Socails</div>
            <div class="linkedin footer-nav-item"><a href="https://www.linkedin.com/in/jayant-singh-73857725b/" target="_blank">LinkedIn</a></div>
            <div class="instagram footer-nav-item"><a href="https://www.instagram.com/jayant_singh_._/" target="_blank">Instagram</a></div>
            <div class="Facebook footer-nav-item"><a href="https://leetcode.com/u/Godly-MysteriOus/" target="_blank">Leetcode</a></div>
            <div class="github footer-nav-item"><a href="https://github.com/Godly-MysteriOus" target="_blank">GitHub</a></div>
        </section>
        <section class="shopping ">
            <div class="heading rowdies-light">Shopping</div>
            <div class="faq footer-nav-item">FAQ</div>
            <div class="offersAndCoupons footer-nav-item">Offer/Coupons</div>
            <div class="referAndEarn footer-nav-item"> Refer and Earn</div>
        </section>
    </div>
    <div class="newsLetterSubscription">
        <div class="fieldNameHolder montserrat">Subscribe to our newsletter - </div>
        <div class="inputFieldHolder"><input type="email" placeholder="Enter email" class="newsLetterEmail"><button class="subscribeToNewsLetterButton button-1">Subscribe</button></div>
    </div>
</footer>
<script src="/scripts/homePage/homePageFooter.js"></script>
