<footer>
    <div class="footerMessage montserrat">
       <p> © 2025, Medisure. All rights reserved. All the content of this website are protected by copyright law. Any unauthorized use, reproduction, or distribution is strictly prohibited. This website is developed and owned by Jayant Singh. For any queries contact write at singhrajputjayant8@gmail.com. </p>
        <br><br>
        <div class="createdMessage montserrat">Crafted with <img src="/images/heart.png" alt="heart Image" class="heartIcon">in Bhopal, Madhya Pradesh </div>
    </div>
    <div class="footerNavigationItems montserrat">
        <section class="company">
            <div class="heading rowdies-light">Company</div>
            <div class="aboutMedisure">About Medisure</div>
            <div class="reviews">Customer Reviews</div>
            <div class="ContactUs">Contact Us</div>
            <div class="termsAndConditions">Terms and Conditions</div>
            <div class="privacyPolicy">Privacy Policy</div>
        </section>
        <section class="socails">
            <div class="heading rowdies-light">Socails</div>
            <div class="linkedin">LinkedIn</div>
            <div class="instagram">Instagram</div>
            <div class="Facebook">Facebook</div>
            <div class="github">GitHub</div>
        </section>
        <section class="shopping ">
            <div class="heading rowdies-light">Shopping</div>
            <div class="faq">FAQ</div>
            <div class="offersAndCoupons">Offer/Coupons</div>
            <div class="referAndEarn"> Refer and Earn</div>
        </section>
    </div>
    <div class="newsLetterSubscription">
        <div class="fieldNameHolder montserrat">Subscribe to our newsletter - </div>
        <div class="inputFieldHolder"><input type="email" placeholder="Enter email" class="newsLetterEmail"><button class="subscribeToNewsLetterButton button-1">Subscribe</button></div>
    </div>
</footer>