<style>
    .companyNameAndLogo{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        gap: 0.25rem;
        color: white;
    }
    .companyLogo{
        display: grid;
        place-items: center;
    }
    .companyLogo img{
        width: 2rem;
    }
</style>
    <div class="companyNameAndLogo">
        <div class="companyLogo">
            <img src="/images/company-logo-2.png" alt="Company Logo">
        </div>
        <div class="companyName rowdies-regular">Medisure</div>
    </div>
    
