<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medisure - Right choice for your medicines</title>
    <link rel="shortcut icon" href="/images/medicine.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/utils/general.css">
    <link rel="stylesheet" href="/styles/utils/buttons.css">