<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medisure - Right choice for your medicines</title>
    <link rel="shortcut icon" href="/images/medicine.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/utils/general.css">
    <link rel="stylesheet" href="/styles/utils/buttons.css">
    <link rel="stylesheet" href="/styles/utils/messageBox.css">
    <% if (headerType == 'customer') { %>
        <link rel="stylesheet" href="/styles/utils/customerHeader.css">
        <link rel="stylesheet" href="/styles/utils/customerFooter.css">
    <% }else if(headerType=='seller'){ %>
        <link rel="stylesheet" href="/styles/utils/sellerHeader.css">
        <link rel="stylesheet" href="/styles/utils/sellerFooter.css">
    <% } %>